@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
    margin: 0;
   /*  background-color: #636361; */
    min-height: 100%;
    font-family: "Space Grotesk", sans-serif;
    /* font-family: "Pangolin", cursive; */
    font-weight: 400;
    font-style: normal;
  }

